*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;

    font-family: Poppins, "Arial Black", Gadget, sans-serif;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 1px black;
}
    .nav{
        width: 100vw;
        height: 13vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        position: fixed;
    }
        .nav__links{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
            .links__link{
                color: white;
                padding: 15px 40px;
            }
            .links__link:hover{
                background-color: #0000ff;
            }
    .header{
        height: 91vh;
        background-image: url(../img/fondo-header.png);
        background-size: cover;
    }
        .header__text{
            height: 100%;
            color: white;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 35px;
            padding-left: 200px;
            line-height: 1.3;
        }
            .text__h2{
                font-size: 18px;
            }
                .text__h2--color{
                    color: #10f294;
                }
            .text__h1{
                font-size: 25px;
            }
                .text__h1--linecolor{
                    color: #10f294;
                }
            .text__h3{
                font-size: 22px;
            }
    .banner{
        height: 10vh;
        background-color: black;
        color: white;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        line-height: 1.3;
    }
    .companies{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        padding: 50px;

        font-size: 22px;
        line-height: 1.3;
    }
    .why_codenotch{
        color: white;
        background-color: #0000ff;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 120px;
        padding: 50px;
        padding-bottom: 100px;
    }
        .why_codenotch__title{
            font-size: 50px;
            padding-left: 15px;
            line-height: 1.3;
        }
        .why_codenotch_info{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
            .info__block1{
                width: 30%;

                display: flex;
                flex-direction: column;
                gap: 20px;
            }
                .block1__icon{
                    width: 300px;
                    height: 208px;
                }
            .info__block2{
                width: 30%;

                display: flex;
                flex-direction: column;
                gap: 20px;
            }
                .block2__icon{
                    width: 300px;
                    height: 208px;
                }
            .info__block3{
                width: 30%;

                display: flex;
                flex-direction: column;
                gap: 20px;
            }
                .block3__icon{
                    width: 300px;
                    height: 208px;
                }
    .footer{
        background-color: black;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
        .footer__rrss{
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        .footer__copyrigth{
            color: white;
            font-size: 11px;
        }